@font-face {
    font-family: "Arial";
    src: local("Arial");
}
@font-face {
    font-family: "Arial Black";
    src: local("Arial Black");
}
@font-face {
    font-family: "Bahnschrift";
    src: local("Bahnschrift");
}
@font-face {
    font-family: "Calibri";
    src: local("Calibri");
}
@font-face {
    font-family: "Calibri Light";
    src: local("Calibri Light");
}
@font-face {
    font-family: "Cambria";
    src: local("Cambria");
}
@font-face {
    font-family: "Candara";
    src: local("Candara");
}
@font-face {
    font-family: "Candara Light";
    src: local("Candara Light");
}
@font-face {
    font-family: "Comic Sans MS";
    src: local("Comic Sans MS");
}
@font-face {
    font-family: "Consolas";
    src: local("Consolas");
}
@font-face {
    font-family: "Constantia";
    src: local("Constantia");
}
@font-face {
    font-family: "Corbel";
    src: local("Corbel");
}
@font-face {
    font-family: "Corbel Light";
    src: local("Corbel Light");
}
@font-face {
    font-family: "Courier New";
    src: local("Courier New");
}
@font-face {
    font-family: "Ebrima";
    src: local("Ebrima");
}
@font-face {
    font-family: "Franklin Gothic Medium";
    src: local("Franklin Gothic Medium");
}
@font-face {
    font-family: "Gabriola";
    src: local("Gabriola");
}
@font-face {
    font-family: "Gadugi";
    src: local("Gadugi");
}
@font-face {
    font-family: "Georgia";
    src: local("Georgia");
}
@font-face {
    font-family: "Impact";
    src: local("Impact");
}
@font-face {
    font-family: "Ink Free";
    src: local("Ink Free");
}
@font-face {
    font-family: "Javanese Text";
    src: local("Javanese Text");
}
@font-face {
    font-family: "Leelawadee UI";
    src: local("Leelawadee UI");
}
@font-face {
    font-family: "Leelawadee UI Semilight";
    src: local("Leelawadee UI Semilight");
}
@font-face {
    font-family: "Lucida Console";
    src: local("Lucida Console");
}
@font-face {
    font-family: "Lucida Sans Unicode";
    src: local("Lucida Sans Unicode");
}
@font-face {
    font-family: "맑은 고딕";
    src: local("맑은 고딕");
}
@font-face {
    font-family: "맑은 고딕 Semilight";
    src: local("맑은 고딕 Semilight");
}
@font-face {
    font-family: "Microsoft Himalaya";
    src: local("Microsoft Himalaya");
}
@font-face {
    font-family: "Microsoft New Tai Lue";
    src: local("Microsoft New Tai Lue");
}
@font-face {
    font-family: "Microsoft PhagsPa";
    src: local("Microsoft PhagsPa");
}
@font-face {
    font-family: "Microsoft Sans Serif";
    src: local("Microsoft Sans Serif");
}
@font-face {
    font-family: "Microsoft Tai Le";
    src: local("Microsoft Tai Le");
}
@font-face {
    font-family: "Microsoft Yi Baiti";
    src: local("Microsoft Yi Baiti");
}
@font-face {
    font-family: "Mongolian Baiti";
    src: local("Mongolian Baiti");
}
@font-face {
    font-family: "MV Boli";
    src: local("MV Boli");
}
@font-face {
    font-family: "Myanmar Text";
    src: local("Myanmar Text");
}
@font-face {
    font-family: "Nirmala UI";
    src: local("Nirmala UI");
}
@font-face {
    font-family: "Nirmala UI Semilight";
    src: local("Nirmala UI Semilight");
}
@font-face {
    font-family: "Palatino Linotype";
    src: local("Palatino Linotype");
}
@font-face {
    font-family: "Segoe MDL2 Assets";
    src: local("Segoe MDL2 Assets");
}
@font-face {
    font-family: "Segoe Print";
    src: local("Segoe Print");
}
@font-face {
    font-family: "Segoe Script";
    src: local("Segoe Script");
}
@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI Black";
    src: local("Segoe UI Black");
}
@font-face {
    font-family: "Segoe UI Emoji";
    src: local("Segoe UI Emoji");
}
@font-face {
    font-family: "Segoe UI Historic";
    src: local("Segoe UI Historic");
}
@font-face {
    font-family: "Segoe UI Light";
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI Semibold";
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI Semilight";
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI Symbol";
    src: local("Segoe UI Symbol");
}
@font-face {
    font-family: "SimSun-ExtB";
    src: local("SimSun-ExtB");
}
@font-face {
    font-family: "Sylfaen";
    src: local("Sylfaen");
}
@font-face {
    font-family: "Symbol";
    src: local("Symbol");
}
@font-face {
    font-family: "Tahoma";
    src: local("Tahoma");
}
@font-face {
    font-family: "Times New Roman";
    src: local("Times New Roman");
}
@font-face {
    font-family: "Trebuchet MS";
    src: local("Trebuchet MS");
}
@font-face {
    font-family: "Verdana";
    src: local("Verdana");
}
@font-face {
    font-family: "Webdings";
    src: local("Webdings");
}
@font-face {
    font-family: "Wingdings";
    src: local("Wingdings");
}
@font-face {
    font-family: "等线";
    src: local("等线");
}
@font-face {
    font-family: "等线 Light";
    src: local("等线 Light");
}
@font-face {
    font-family: "仿宋";
    src: local("仿宋");
}
@font-face {
    font-family: "楷体";
    src: local("楷体");
}
@font-face {
    font-family: "黑体";
    src: local("黑体");
}
@font-face {
    font-family: "HoloLens MDL2 Assets";
    src: local("HoloLens MDL2 Assets");
}
@font-face {
    font-family: "游明朝";
    src: local("游明朝");
}
@font-face {
    font-family: "游明朝 Demibold";
    src: local("游明朝 Demibold");
}
@font-face {
    font-family: "游明朝 Light";
    src: local("游明朝 Light");
}
@font-face {
    font-family: "Book Antiqua";
    src: local("Book Antiqua");
}
@font-face {
    font-family: "Arial Narrow";
    src: local("Arial Narrow");
}
@font-face {
    font-family: "Bookman Old Style";
    src: local("Bookman Old Style");
}
@font-face {
    font-family: "Bradley Hand ITC";
    src: local("Bradley Hand ITC");
}
@font-face {
    font-family: "Bookshelf Symbol 7";
    src: local("Bookshelf Symbol 7");
}
@font-face {
    font-family: "Century";
    src: local("Century");
}
@font-face {
    font-family: "Freestyle Script";
    src: local("Freestyle Script");
}
@font-face {
    font-family: "French Script MT";
    src: local("French Script MT");
}
@font-face {
    font-family: "Garamond";
    src: local("Garamond");
}
@font-face {
    font-family: "Century Gothic";
    src: local("Century Gothic");
}
@font-face {
    font-family: "Kristen ITC";
    src: local("Kristen ITC");
}
@font-face {
    font-family: "Juice ITC";
    src: local("Juice ITC");
}
@font-face {
    font-family: "Lucida Handwriting";
    src: local("Lucida Handwriting");
}
@font-face {
    font-family: "Mistral";
    src: local("Mistral");
}
@font-face {
    font-family: "Monotype Corsiva";
    src: local("Monotype Corsiva");
}
@font-face {
    font-family: "Papyrus";
    src: local("Papyrus");
}
@font-face {
    font-family: "Pristina";
    src: local("Pristina");
}
@font-face {
    font-family: "MS Reference Sans Serif";
    src: local("MS Reference Sans Serif");
}
@font-face {
    font-family: "MS Reference Specialty";
    src: local("MS Reference Specialty");
}
@font-face {
    font-family: "Tempus Sans ITC";
    src: local("Tempus Sans ITC");
}
@font-face {
    font-family: "Wingdings 2";
    src: local("Wingdings 2");
}
@font-face {
    font-family: "Wingdings 3";
    src: local("Wingdings 3");
}
@font-face {
    font-family: "方正舒体";
    src: local("方正舒体");
}
@font-face {
    font-family: "方正姚体";
    src: local("方正姚体");
}
@font-face {
    font-family: "隶书";
    src: local("隶书");
}
@font-face {
    font-family: "幼圆";
    src: local("幼圆");
}
@font-face {
    font-family: "华文彩云";
    src: local("华文彩云");
}
@font-face {
    font-family: "华文仿宋";
    src: local("华文仿宋");
}
@font-face {
    font-family: "华文琥珀";
    src: local("华文琥珀");
}
@font-face {
    font-family: "华文楷体";
    src: local("华文楷体");
}
@font-face {
    font-family: "华文隶书";
    src: local("华文隶书");
}
@font-face {
    font-family: "华文宋体";
    src: local("华文宋体");
}
@font-face {
    font-family: "华文细黑";
    src: local("华文细黑");
}
@font-face {
    font-family: "华文行楷";
    src: local("华文行楷");
}
@font-face {
    font-family: "华文新魏";
    src: local("华文新魏");
}
@font-face {
    font-family: "华文中宋";
    src: local("华文中宋");
}
@font-face {
    font-family: "MT Extra";
    src: local("MT Extra");
}
@font-face {
    font-family: "方正兰亭黑_GBK";
    src: local("方正兰亭黑_GBK");
}
@font-face {
    font-family: "方正中雅宋_GBK";
    src: local("方正中雅宋_GBK");
}
@font-face {
    font-family: "手札体-简";
    src: local("手札体-简");
}
@font-face {
    font-family: "腾祥嘉丽中圆GB18030";
    src: local("腾祥嘉丽中圆GB18030");
}
@font-face {
    font-family: "方正喵呜_GBK";
    src: local("方正喵呜_GBK");
}
@font-face {
    font-family: "Lato";
    src: local("Lato");
}
@font-face {
    font-family: "Lato Light";
    src: local("Lato Light");
}
@font-face {
    font-family: "Lato Semibold";
    src: local("Lato Semibold");
}
@font-face {
    font-family: "ＤＦＰ細丸ゴシック体";
    src: local("ＤＦＰ細丸ゴシック体");
}
@font-face {
    font-family: "FOT-マティス ProN B";
    src: local("FOT-マティス ProN B");
}
@font-face {
    font-family: "方正隶书_GBK";
    src: local("方正隶书_GBK");
}
@font-face {
    font-family: "liguofu";
    src: local("liguofu");
}
@font-face {
    font-family: "麗流隷書";
    src: local("麗流隷書");
}
@font-face {
    font-family: "さなフォン角";
    src: local("さなフォン角");
}
@font-face {
    font-family: "方正粗圆_GBK";
    src: local("方正粗圆_GBK");
}
@font-face {
    font-family: "方正行楷_GBK";
    src: local("方正行楷_GBK");
}
@font-face {
    font-family: "方正黑体_GBK";
    src: local("方正黑体_GBK");
}
@font-face {
    font-family: "方正卡通_GBK";
    src: local("方正卡通_GBK");
}
@font-face {
    font-family: "方正隶变_GBK";
    src: local("方正隶变_GBK");
}
@font-face {
    font-family: "方正喵鸣";
    src: local("方正喵鸣");
}
@font-face {
    font-family: "方正细珊瑚_GBK";
    src: local("方正细珊瑚_GBK");
}
@font-face {
    font-family: "方正小标宋_GBK";
    src: local("方正小标宋_GBK");
}
@font-face {
    font-family: "方正新舒体_GBK";
    src: local("方正新舒体_GBK");
}
@font-face {
    font-family: "方正稚艺_GBK";
    src: local("方正稚艺_GBK");
}
@font-face {
    font-family: "方正准圆_GBK";
    src: local("方正准圆_GBK");
}
@font-face {
    font-family: "方正字迹-吕建德字体";
    src: local("方正字迹-吕建德字体");
}
@font-face {
    font-family: "華康華綜體";
    src: local("華康華綜體");
}
@font-face {
    font-family: "DFPLiShuW5-B5";
    src: local("DFPLiShuW5-B5");
}
@font-face {
    font-family: "经典中圆简";
    src: local("经典中圆简");
}
@font-face {
    font-family: "Fences";
    src: local("Fences");
}
@font-face {
    font-family: "Origin";
    src: local("Origin");
}
@font-face {
    font-family: "Noto Kufi Arabic";
    src: local("Noto Kufi Arabic");
}
@font-face {
    font-family: "OpenSymbol";
    src: local("OpenSymbol");
}
@font-face {
    font-family: "Source Serif Pro Black";
    src: local("Source Serif Pro Black");
}
@font-face {
    font-family: "Source Sans Pro Black";
    src: local("Source Sans Pro Black");
}
@font-face {
    font-family: "Alef";
    src: local("Alef");
}
@font-face {
    font-family: "EmojiOne Color";
    src: local("EmojiOne Color");
}
@font-face {
    font-family: "Liberation Sans Narrow";
    src: local("Liberation Sans Narrow");
}
@font-face {
    font-family: "Caladea";
    src: local("Caladea");
}
@font-face {
    font-family: "Scheherazade";
    src: local("Scheherazade");
}
@font-face {
    font-family: "Carlito";
    src: local("Carlito");
}
@font-face {
    font-family: "DejaVu Math TeX Gyre";
    src: local("DejaVu Math TeX Gyre");
}
@font-face {
    font-family: "David Libre";
    src: local("David Libre");
}
@font-face {
    font-family: "Source Code Pro Black";
    src: local("Source Code Pro Black");
}
@font-face {
    font-family: "Gentium Basic";
    src: local("Gentium Basic");
}
@font-face {
    font-family: "KacstBook";
    src: local("KacstBook");
}
@font-face {
    font-family: "Amiri";
    src: local("Amiri");
}
@font-face {
    font-family: "Amiri Quran";
    src: local("Amiri Quran");
}
@font-face {
    font-family: "Frank Ruehl CLM";
    src: local("Frank Ruehl CLM");
}
@font-face {
    font-family: "מרים";
    src: local("מרים");
}
@font-face {
    font-family: "Miriam Mono CLM";
    src: local("Miriam Mono CLM");
}
@font-face {
    font-family: "Nachlieli CLM";
    src: local("Nachlieli CLM");
}
@font-face {
    font-family: "DejaVu Sans";
    src: local("DejaVu Sans");
}
@font-face {
    font-family: "DejaVu Sans Light";
    src: local("DejaVu Sans Light");
}
@font-face {
    font-family: "DejaVu Sans Condensed";
    src: local("DejaVu Sans Condensed");
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: local("DejaVu Sans Mono");
}
@font-face {
    font-family: "DejaVu Serif";
    src: local("DejaVu Serif");
}
@font-face {
    font-family: "DejaVu Serif Condensed";
    src: local("DejaVu Serif Condensed");
}
@font-face {
    font-family: "Gentium Book Basic";
    src: local("Gentium Book Basic");
}
@font-face {
    font-family: "KacstOffice";
    src: local("KacstOffice");
}
@font-face {
    font-family: "Liberation Sans";
    src: local("Liberation Sans");
}
@font-face {
    font-family: "Frank Ruhl Hofshi";
    src: local("Frank Ruhl Hofshi");
}
@font-face {
    font-family: "Miriam Libre";
    src: local("Miriam Libre");
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik");
}
@font-face {
    font-family: "Noto Mono";
    src: local("Noto Mono");
}
@font-face {
    font-family: "Noto Naskh Arabic";
    src: local("Noto Naskh Arabic");
}
@font-face {
    font-family: "Noto Naskh Arabic UI";
    src: local("Noto Naskh Arabic UI");
}
@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans");
}
@font-face {
    font-family: "Noto Sans Cond";
    src: local("Noto Sans Cond");
}
@font-face {
    font-family: "Noto Sans Light";
    src: local("Noto Sans Light");
}
@font-face {
    font-family: "Noto Sans Arabic";
    src: local("Noto Sans Arabic");
}
@font-face {
    font-family: "Noto Sans Arabic UI";
    src: local("Noto Sans Arabic UI");
}
@font-face {
    font-family: "Noto Sans Armenian";
    src: local("Noto Sans Armenian");
}
@font-face {
    font-family: "Noto Sans Georgian";
    src: local("Noto Sans Georgian");
}
@font-face {
    font-family: "Noto Sans Hebrew";
    src: local("Noto Sans Hebrew");
}
@font-face {
    font-family: "Noto Sans Lao";
    src: local("Noto Sans Lao");
}
@font-face {
    font-family: "Noto Sans Lisu";
    src: local("Noto Sans Lisu");
}
@font-face {
    font-family: "Noto Serif";
    src: local("Noto Serif");
}
@font-face {
    font-family: "Noto Serif Cond";
    src: local("Noto Serif Cond");
}
@font-face {
    font-family: "Noto Serif Light";
    src: local("Noto Serif Light");
}
@font-face {
    font-family: "Noto Serif Armenian";
    src: local("Noto Serif Armenian");
}
@font-face {
    font-family: "Noto Serif Georgian";
    src: local("Noto Serif Georgian");
}
@font-face {
    font-family: "Noto Serif Hebrew";
    src: local("Noto Serif Hebrew");
}
@font-face {
    font-family: "Noto Serif Lao";
    src: local("Noto Serif Lao");
}
@font-face {
    font-family: "Source Code Pro";
    src: local("Source Code Pro");
}
@font-face {
    font-family: "Source Code Pro ExtraLight";
    src: local("Source Code Pro ExtraLight");
}
@font-face {
    font-family: "Source Code Pro Light";
    src: local("Source Code Pro Light");
}
@font-face {
    font-family: "Source Code Pro Medium";
    src: local("Source Code Pro Medium");
}
@font-face {
    font-family: "Source Code Pro Semibold";
    src: local("Source Code Pro Semibold");
}
@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro");
}
@font-face {
    font-family: "Source Sans Pro ExtraLight";
    src: local("Source Sans Pro ExtraLight");
}
@font-face {
    font-family: "Source Sans Pro Light";
    src: local("Source Sans Pro Light");
}
@font-face {
    font-family: "Source Sans Pro Semibold";
    src: local("Source Sans Pro Semibold");
}
@font-face {
    font-family: "Source Serif Pro";
    src: local("Source Serif Pro");
}
@font-face {
    font-family: "Source Serif Pro ExtraLight";
    src: local("Source Serif Pro ExtraLight");
}
@font-face {
    font-family: "Source Serif Pro Light";
    src: local("Source Serif Pro Light");
}
@font-face {
    font-family: "Source Serif Pro Semibold";
    src: local("Source Serif Pro Semibold");
}
@font-face {
    font-family: "Dubai";
    src: local("Dubai");
}
@font-face {
    font-family: "Dubai Light";
    src: local("Dubai Light");
}
@font-face {
    font-family: "Dubai Medium";
    src: local("Dubai Medium");
}
@font-face {
    font-family: "Leelawadee";
    src: local("Leelawadee");
}
@font-face {
    font-family: "Microsoft Uighur";
    src: local("Microsoft Uighur");
}
@font-face {
    font-family: "Agency FB";
    src: local("Agency FB");
}
@font-face {
    font-family: "Algerian";
    src: local("Algerian");
}
@font-face {
    font-family: "Arial Rounded MT Bold";
    src: local("Arial Rounded MT Bold");
}
@font-face {
    font-family: "Baskerville Old Face";
    src: local("Baskerville Old Face");
}
@font-face {
    font-family: "Bauhaus 93";
    src: local("Bauhaus 93");
}
@font-face {
    font-family: "Bell MT";
    src: local("Bell MT");
}
@font-face {
    font-family: "Bernard MT Condensed";
    src: local("Bernard MT Condensed");
}
@font-face {
    font-family: "Bodoni MT";
    src: local("Bodoni MT");
}
@font-face {
    font-family: "Bodoni MT Black";
    src: local("Bodoni MT Black");
}
@font-face {
    font-family: "Bodoni MT Condensed";
    src: local("Bodoni MT Condensed");
}
@font-face {
    font-family: "Bodoni MT Poster Compressed";
    src: local("Bodoni MT Poster Compressed");
}
@font-face {
    font-family: "Britannic Bold";
    src: local("Britannic Bold");
}
@font-face {
    font-family: "Berlin Sans FB";
    src: local("Berlin Sans FB");
}
@font-face {
    font-family: "Berlin Sans FB Demi";
    src: local("Berlin Sans FB Demi");
}
@font-face {
    font-family: "Broadway";
    src: local("Broadway");
}
@font-face {
    font-family: "Brush Script MT";
    src: local("Brush Script MT");
}
@font-face {
    font-family: "Californian FB";
    src: local("Californian FB");
}
@font-face {
    font-family: "Calisto MT";
    src: local("Calisto MT");
}
@font-face {
    font-family: "Castellar";
    src: local("Castellar");
}
@font-face {
    font-family: "Century Schoolbook";
    src: local("Century Schoolbook");
}
@font-face {
    font-family: "Centaur";
    src: local("Centaur");
}
@font-face {
    font-family: "Chiller";
    src: local("Chiller");
}
@font-face {
    font-family: "Colonna MT";
    src: local("Colonna MT");
}
@font-face {
    font-family: "Cooper Black";
    src: local("Cooper Black");
}
@font-face {
    font-family: "Copperplate Gothic Bold";
    src: local("Copperplate Gothic Bold");
}
@font-face {
    font-family: "Copperplate Gothic Light";
    src: local("Copperplate Gothic Light");
}
@font-face {
    font-family: "Curlz MT";
    src: local("Curlz MT");
}
@font-face {
    font-family: "Elephant";
    src: local("Elephant");
}
@font-face {
    font-family: "Engravers MT";
    src: local("Engravers MT");
}
@font-face {
    font-family: "Eras Bold ITC";
    src: local("Eras Bold ITC");
}
@font-face {
    font-family: "Eras Demi ITC";
    src: local("Eras Demi ITC");
}
@font-face {
    font-family: "Eras Light ITC";
    src: local("Eras Light ITC");
}
@font-face {
    font-family: "Eras Medium ITC";
    src: local("Eras Medium ITC");
}
@font-face {
    font-family: "Felix Titling";
    src: local("Felix Titling");
}
@font-face {
    font-family: "Forte";
    src: local("Forte");
}
@font-face {
    font-family: "Franklin Gothic Book";
    src: local("Franklin Gothic Book");
}
@font-face {
    font-family: "Franklin Gothic Demi";
    src: local("Franklin Gothic Demi");
}
@font-face {
    font-family: "Franklin Gothic Demi Cond";
    src: local("Franklin Gothic Demi Cond");
}
@font-face {
    font-family: "Franklin Gothic Heavy";
    src: local("Franklin Gothic Heavy");
}
@font-face {
    font-family: "Franklin Gothic Medium Cond";
    src: local("Franklin Gothic Medium Cond");
}
@font-face {
    font-family: "Footlight MT Light";
    src: local("Footlight MT Light");
}
@font-face {
    font-family: "Gigi";
    src: local("Gigi");
}
@font-face {
    font-family: "Gill Sans MT";
    src: local("Gill Sans MT");
}
@font-face {
    font-family: "Gill Sans MT Condensed";
    src: local("Gill Sans MT Condensed");
}
@font-face {
    font-family: "Gill Sans Ultra Bold Condensed";
    src: local("Gill Sans Ultra Bold Condensed");
}
@font-face {
    font-family: "Gill Sans Ultra Bold";
    src: local("Gill Sans Ultra Bold");
}
@font-face {
    font-family: "Gloucester MT Extra Condensed";
    src: local("Gloucester MT Extra Condensed");
}
@font-face {
    font-family: "Gill Sans MT Ext Condensed Bold";
    src: local("Gill Sans MT Ext Condensed Bold");
}
@font-face {
    font-family: "Goudy Old Style";
    src: local("Goudy Old Style");
}
@font-face {
    font-family: "Goudy Stout";
    src: local("Goudy Stout");
}
@font-face {
    font-family: "Harlow Solid Italic";
    src: local("Harlow Solid Italic");
}
@font-face {
    font-family: "Harrington";
    src: local("Harrington");
}
@font-face {
    font-family: "Haettenschweiler";
    src: local("Haettenschweiler");
}
@font-face {
    font-family: "High Tower Text";
    src: local("High Tower Text");
}
@font-face {
    font-family: "Imprint MT Shadow";
    src: local("Imprint MT Shadow");
}
@font-face {
    font-family: "Informal Roman";
    src: local("Informal Roman");
}
@font-face {
    font-family: "Blackadder ITC";
    src: local("Blackadder ITC");
}
@font-face {
    font-family: "Edwardian Script ITC";
    src: local("Edwardian Script ITC");
}
@font-face {
    font-family: "Jokerman";
    src: local("Jokerman");
}
@font-face {
    font-family: "Kunstler Script";
    src: local("Kunstler Script");
}
@font-face {
    font-family: "Wide Latin";
    src: local("Wide Latin");
}
@font-face {
    font-family: "Lucida Bright";
    src: local("Lucida Bright");
}
@font-face {
    font-family: "Lucida Calligraphy";
    src: local("Lucida Calligraphy");
}
@font-face {
    font-family: "Lucida Fax";
    src: local("Lucida Fax");
}
@font-face {
    font-family: "Lucida Sans";
    src: local("Lucida Sans");
}
@font-face {
    font-family: "Lucida Sans Typewriter";
    src: local("Lucida Sans Typewriter");
}
@font-face {
    font-family: "Magneto";
    src: local("Magneto");
}
@font-face {
    font-family: "Maiandra GD";
    src: local("Maiandra GD");
}
@font-face {
    font-family: "Matura MT Script Capitals";
    src: local("Matura MT Script Capitals");
}
@font-face {
    font-family: "Modern No. 20";
    src: local("Modern No. 20");
}
@font-face {
    font-family: "Niagara Engraved";
    src: local("Niagara Engraved");
}
@font-face {
    font-family: "Niagara Solid";
    src: local("Niagara Solid");
}
@font-face {
    font-family: "OCR A Extended";
    src: local("OCR A Extended");
}
@font-face {
    font-family: "Old English Text MT";
    src: local("Old English Text MT");
}
@font-face {
    font-family: "Onyx";
    src: local("Onyx");
}
@font-face {
    font-family: "MS Outlook";
    src: local("MS Outlook");
}
@font-face {
    font-family: "Palace Script MT";
    src: local("Palace Script MT");
}
@font-face {
    font-family: "Parchment";
    src: local("Parchment");
}
@font-face {
    font-family: "Perpetua";
    src: local("Perpetua");
}
@font-face {
    font-family: "Perpetua Titling MT";
    src: local("Perpetua Titling MT");
}
@font-face {
    font-family: "Playbill";
    src: local("Playbill");
}
@font-face {
    font-family: "Poor Richard";
    src: local("Poor Richard");
}
@font-face {
    font-family: "Rage Italic";
    src: local("Rage Italic");
}
@font-face {
    font-family: "Ravie";
    src: local("Ravie");
}
@font-face {
    font-family: "Rockwell Condensed";
    src: local("Rockwell Condensed");
}
@font-face {
    font-family: "Rockwell";
    src: local("Rockwell");
}
@font-face {
    font-family: "Rockwell Extra Bold";
    src: local("Rockwell Extra Bold");
}
@font-face {
    font-family: "Script MT Bold";
    src: local("Script MT Bold");
}
@font-face {
    font-family: "Showcard Gothic";
    src: local("Showcard Gothic");
}
@font-face {
    font-family: "Snap ITC";
    src: local("Snap ITC");
}
@font-face {
    font-family: "Stencil";
    src: local("Stencil");
}
@font-face {
    font-family: "Tw Cen MT";
    src: local("Tw Cen MT");
}
@font-face {
    font-family: "Tw Cen MT Condensed";
    src: local("Tw Cen MT Condensed");
}
@font-face {
    font-family: "Tw Cen MT Condensed Extra Bold";
    src: local("Tw Cen MT Condensed Extra Bold");
}
@font-face {
    font-family: "Viner Hand ITC";
    src: local("Viner Hand ITC");
}
@font-face {
    font-family: "Vivaldi";
    src: local("Vivaldi");
}
@font-face {
    font-family: "Vladimir Script";
    src: local("Vladimir Script");
}
@font-face {
    font-family: "Guitar Pro 5";
    src: local("Guitar Pro 5");
}
@font-face {
    font-family: "qtquickcontrols";
    src: local("qtquickcontrols");
}
@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium");
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat");
}
@font-face {
    font-family: "Cascadia Code";
    src: local("Cascadia Code");
}
@font-face {
    font-family: "Cascadia Mono";
    src: local("Cascadia Mono");
}
@font-face {
    font-family: "Adobe Devanagari";
    src: local("Adobe Devanagari");
}
@font-face {
    font-family: "ZWAdobeF";
    src: local("ZWAdobeF");
}
@font-face {
    font-family: "Linux Biolinum G";
    src: local("Linux Biolinum G");
}
@font-face {
    font-family: "Liberation Mono";
    src: local("Liberation Mono");
}
@font-face {
    font-family: "David CLM";
    src: local("David CLM");
}
@font-face {
    font-family: "Reem Kufi";
    src: local("Reem Kufi");
}
@font-face {
    font-family: "Liberation Serif";
    src: local("Liberation Serif");
}
@font-face {
    font-family: "Linux Libertine Display G";
    src: local("Linux Libertine Display G");
}
@font-face {
    font-family: "Linux Libertine G";
    src: local("Linux Libertine G");
}
