<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">缓存管理</h1>
</div>
<div>
    <button class="btn btn-primary rounded-pill px-3" type="button" onclick="clear_danmaku()">清空已有弹幕</button><span id="clear_cache_hint" class="ms-3"></span>
</div>
<script>
    let clear_hint_text = document.getElementById('clear_cache_hint')
    function clear_danmaku(){
        fetch('/settings/clear-cache', {
            method: 'GET'
        }).then(response => response.json())
            .then(function (response) {
                clear_hint_text.innerText = '历史弹幕已清空'
                setTimeout(function () {
                    clear_hint_text.innerText = ''
                }, 3000)
            })
    }
</script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">弹幕消息过滤</h1>
</div>
<div>
    <div class="mb-3 form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="filterShowDanmaku" checked="">
        <label class="form-check-label" for="filterShowDanmaku">显示消息弹幕</label>
    </div>
    <div class="mb-3 form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="filterShowGuard" checked="">
        <label class="form-check-label" for="filterShowGuard">显示上舰消息</label>
    </div>
    <div class="mb-3 form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="filterShowSC" checked="">
        <label class="form-check-label" for="filterShowSC">显示醒目留言（SC）</label>
    </div>
    <div class="mb-3 form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="filterGiftMinimum" checked="">
        <label class="form-check-label" for="filterGiftMinimum">显示不低于价格礼物消息</label>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="0" aria-label="0" aria-describedby="price_unit">
        <span class="input-group-text" id="price_unit">元</span>
    </div>
    <button type="button" class="btn btn-primary">应用设置</button>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">皮肤设置</h1>
</div>
<div>当前皮肤：{{ current_skin_name }}</div>
<div>已安装皮肤</div>
<style>
    .skin-table {
        display: table;
        border-spacing: 10px;
        border-collapse: separate;
    }

    .skin-table-row {
        display: table-row;
    }

    .skin-table-cell {
        display: table-cell;
    }
</style>
<div class="skin-table">
    {% for skin in installed_skins %}
    <div class="skin-table-row">
        <div class="skin-table-cell">
            {{ skin['display'] }}
        </div>
        <div class="skin-table-cell">
            {% if skin['using'] == True %}
                <button class="btn btn-dark rounded-pill px-3 disabled" type="button">已使用</button>
            {% else %}
                <button class="btn btn-primary rounded-pill px-3" type="button" onclick="set_skin('{{ skin["name"] }}')">使用</button>
            {% endif %}
        </div>
        <div class="skin-table-cell">
            <button class="btn btn-primary rounded-pill px-3" type="button" onclick="window.location.href = '/settings/skin-config/{{ skin["name"] }}'">设置</button>
        </div>
    </div>
    {% endfor %}
    <script>
        function set_skin(skin_name) {
            fetch('/settings/set-skin?name=' + skin_name, {
                'method': 'GET'
            }).then(response => response.json())
                .then(function(response) {
                    // We don't actually care about response, just refresh the page.
                    window.location.reload()
                })
        }
    </script>
</div>